footer{

  .mds-footer-top{
    background-image: url("/img/footer-bg.jpg");
    background-size: cover;
    height: 450px;
      
      
      .mds-list-lists{
        height: 100%;
      }

      .mds-link-list{
        color: white;
        float: left;
        padding: 100px 0;
        .mds-title-footer{
          padding-left: 10px;
          width: 50px!important;
        }
        .mds-li-footer{
          list-style: none;
          color: gray;

          &:hover{
            cursor: pointer;
          }
        }
      }

    .mds-dc-logo{
      height: 100%;
      background-image: url("/img/dc-logo-bg.png");
      background-position: center;
      background-size: cover ;
    }
  
  }
  
  
  .mds-footer-bottom{
    width: 100%;
    height: 100px;
    background-color: #303030;
    display: flex;
    align-items: center;
    
    .mds-container{
      display: flex;
      justify-content: space-between;
      
      .mds-sign{
        color: white;
        border: 2px solid #008CFF;
        text-decoration: none;
        padding: 5px 15px;
        line-height: 40px;
        
        &:hover{
          cursor: pointer;
        }
      }
      .mds-social{
        display: flex;
        color: #0087FF;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-weight: 700;
        font-size: 20px;
        
        
        
        img{
          vertical-align: middle;
          width: 40px;
          margin: 5px;
          &:hover{
            cursor: pointer;
          }
        }
      }
    } 
  }
}

.mds-resolver{
  width: 150px;
}